<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Card flipper</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="flashcards-app">
  <div class="inputSubmit">
    <div><input v-model="cards.question" placeholder="Question">
      <input v-model="cards.answer" placeholder="Answer"></div>
    <div><input type="radio" id="history" value="history" v-model="cards.category">
      <label for="history">History</label>
      <input type="radio" id="science" value="science" v-model="cards.category">
      <label for="science">Science</label>
      <input type="radio" id="math" value="math" v-model="cards.category">
      <label for="math">Math</label></div>
    <div><button class="submitButton" v-on:click="onSubmit">Submit</button></div></div>
  <div class="card" v-on:click="flip(clicker)" v-for="(card, clicker) in cards">
    <div class="top" v-bind:class="card.category"></div>
    <div class="side1" v-bind:class="{hide: card.flipped}">
      <h1>{{card.question}}</h1></div>
<div class="side2" v-bind:class="{hide: !card.flipped}">
      <h1>{{card.answer}}</h1></div>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script><script  src="./script.js"></script>

</body>
</html>
